<html>
<head>
<title> Опрос по бытовой лексике:верхняя одежда </title>
<style type="text/css">
body {background:whitesmoke}
p {color:midnightblue;font-family: Cambria;  font-size: 25pt;}
.inform {font-size: 500%}
button, input {
border: 2px solid cornflowerblue;
border-radius: 20px;
font-size: 18pt;
background-color: aliceblue;
}
input {
border: 2px dotted cornflowerblue;
}
td {
vertical-align: bottom;
}
</style>
</head>
<body>

<form method="GET" action="/">
    <p> Как бы вы назвали предметы, изображенные на картинках, приведенных ниже?</p>
    <table align="center">
        <tr align="center">
            <td align="center"> <p><img src = "/Users/sea_fog/Desktop/hse/2 курс/колд/project 2/static/anorak.jpg" width="350" height="450"></p>
                <p><input type="text" name="anorak"></p><br><br>
            </td>
            <td align="center"><p><img src = "/Users/sea_fog/Desktop/hse/2 курс/колд/project 2/static/dozhdevik.jpg" width="333" height="450"></p>
            <p><input type="text" name="dozhdevik"></p><br><br>
            </td>
            <td align="center"> <p><img src = "/Users/sea_fog/Desktop/hse/2 курс/колд/project 2/static/kosuxa.jpg" width="380" height="450"></p>
                <p><input type="text" name="kosuxa"></p><br><br>
            </td>
        </tr>

        <tr align="center">
            <td align="center"><p><img src = "/Users/sea_fog/Desktop/hse/2 курс/колд/project 2/static/parka.jpg" width="340" height="460"></p>
                <p><input type="text" name="parka"></p>
            </td>
            <td align="center"><p><img src = "/Users/sea_fog/Desktop/hse/2 курс/колд/project 2/static/trench.jpg" width="330" height="460"></p>
                <p><input type="text" name="trench"></p>
            </td>
            <td align="center">
                <p><img src = "/Users/sea_fog/Desktop/hse/2 курс/колд/project 2/static/bushlat.jpg" width="360" height="460"></p>
                <p><input type="text" name="bushlat"></p>
            </td>

        </tr>
    </table>

    <p align="right" ><button type="submit">Отправить</button></p>
    <p align="right"><button type="reset">Очистить</button></p>
</form>

</body>
