<html>
<head>

    <title> Результаты опроса </title>
    <style type="text/css">
body {background:whitesmoke}
p {color:midnightblue;font-family: Cambria;  font-size: 23pt;}
.inform {font-size: 500%}
button{
td {
vertical-align: bottom;
}
table{
    border: 2px;
    border-color: cornflowerblue;

}
}

</style>
<table>
    <tr>
        <td align="center">
            <img src = "/Users/sea_fog/Desktop/hse/2 курс/колд/project 2/static/anorak.jpg" width="116" height="150">
        </td>
        <td>

        </td>
    </tr>
    <tr>
        <td align="center">
            <img src = "/Users/sea_fog/Desktop/hse/2 курс/колд/project 2/static/dozhdevik.jpg" width="111" height="150">
        </td>
        </td>
        <td>
    </tr>
    <tr>
        <td>

        </td>
    </tr>
</table>
</head>
<body>

</body>
</html>
